<h2>Sign Up</h2>

<form action="<%= users_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"

	<label for="user_name">Name</label>
	<input type="text" id="user_name" name="user[name]" value="<%= @user.name %>">

	<br />

	<label for="user_password">Password</label>
	<input type="password" id="user_password" name="user[password]" value="<%= @user.password %>">

	<br />

	<input type="submit" value="Sign Up">
</form>